<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title font face="Arial" size="20px" color="#FF7A59">Heart Attack Prediction</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    
  <div class="container-fluid">
        <div class="jumbotron text-center" style="background-image:url(https://p4.wallpaperbetter.com/wallpaper/241/445/153/landscape-love-heart-4k-green-wallpaper-preview.jpg);background-size:100%; height:100%")>
          <h1>Heart Attack Prediction</h1>
          
          <div class="row">
            <div class="col-md-4">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1"style="font-size:24px;">condition 1</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2" style="font-size:24px;">condition 2</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                <label class="form-check-label" for="inlineCheckbox3" style="font-size:24px;">condition 3 </label>
              </div>
            </div>  
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                <label class="form-check-label" for="inlineCheckbox4" style="font-size:24px;">condition 4 </label>
              </div>
            </div>  
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                <label class="form-check-label" for="inlineCheckbox5" style="font-size:24px;">condition 5 </label>
              </div>
            </div>  
          </div>

          <div class="row">
            <div class="col-md-4">
              <p><a class="btn btn-primary btn-lg" href="/pred" role="button">Predict</a></p>
            </div>  
          </div>

          <p>
            Prediction: {{prediction}}
          </p>

        </div>

        
          
  </div>

  <footer class="footer navbar-fixed-bottom">
    <div class="two-toned-footer-color"></div>
    <p class="text-muted text-muted-footer text-center">
      <b>&copy; Copyright Coding Bootcamp 2021</b>
    </p>
  </footer>

</body>




</html>